#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .alt-header,
.status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0; /*상단바 위치 고정, 타임스탬프위치 조절 가능하게 함.*/
}

@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

#chat-screen .alt-header {
  z-index: 1;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 18px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-left: -10px;
  margin-right: 15px;
}
.message__author {
  display: block;
  margin-bottom: 4px;
}
.message__bubble {
  background-color: white;
  padding: 9px 12px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 13px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: -10px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse; /* 순서바꾸기, flex container 상태에서만 가능 */
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 5px 0px;
  padding-left: 15px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -10px;
  top: 5px;
}
.reply__column:last-child > i {
  right: 35px;
  top: 21px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 15px;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 90vw;
  transform: translatex(-13%) translateY(-100px);
}

.reply:focus-within {
  bottom: -50px;
  transform: translateY(50px);
}
