.welcome-header {
  margin: 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 25px;
}
.welcome-header__text {
  width: 90%;
  opacity: 0.7;
  margin-bottom: 60px;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
    background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
#login-form input[type="submit"]:hover {
  background-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
