.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 13px;
  margin-bottom: 20px;
  align-items: center;
}
.screen-header__title {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons a {
  margin-left: 25px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}
.screen-header__icons .fa-cog {
  animation: rotateCog 2s linear infinite;
}
