.user-component {
  display: flex;
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  border-color: black;
}
.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.user-component__title {
  font-weight: 600;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.user-component__avatar--xl {
  width: 60px;
  height: 60px;
}
.user-component__avatar--sm {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 5px;
}
